﻿body {
    margin: 0;
    overflow-x: hidden;
    background-color: white;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 100px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* white*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav .homeButton {
    transform: scale(0.127,0.127);
    top: 0;
    height: 0;
    width: 0;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
/* The navigation menu links */
.sidenav .A {
    position: relative;
    transform: scale(0.315,0.32);
    height: 0;
    width: 0;
    top: 95px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav .B {
    position: relative;
    transform: scale(0.315,0.32);
    height: 0;
    width: 0;
    top: 190px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav .C {
    position: relative;
    transform: scale(0.315,0.32);
    height: 0;
    width: 0;
    top: 285px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav .loginButton {
    position: relative;
    transform: scale(0.315,0.32);
    top: 380px;
    height: 0;
    width: 0;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    position: absolute;
    margin-left: 50px;
    padding-left: 25px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}