@page
@model Investor.Web.Pages.Users.PortfolioPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <script src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
<script>
    function sendInfo() {
        var stock = document.getElementById("Companies");
        var stockValue = stock.options[stock.selectedIndex].value;
        var range = document.getElementById("radioid");
        var rangeValue = range.options[range.selectedIndex].value;
        var data = "S=" + stockValue + "R=" + rangeValue;
        console.log(data);  
    }
    </script>
</head>
<body style="background-color: rgb(242, 242, 242)">
    <!--Side navigation bar below (HTML)-->
<link rel="stylesheet" href="~/css/HomepageStyle.css" />
<div id="mySidenav" class="sidenav">
    <a href="#" class="homeButton" id="homebutton" onclick="location.href='/Users/Homepage?Companies=none&radioid=0&Submit='">
        <img src="~/css/InvestLogo.png" alt = "Iinvest"></a>
    <a href="#a" class="A" id = "a" onclick="">
        <img src="~/css/Sm_filler_Icon.png" alt = "Login"></a>
    <a href="#b" class="B" id = "b" onclick="">
        <img src="~/css/Sm_filler_Icon.png" alt = "Login"></a>
    <a href="#c" class="C" id = "c" onclick="">
        <img src="~/css/Sm_filler_Icon.png" alt = "Login"></a>
    <a href="#login" class="loginButton" id = "loginbutton" onclick="location.href='/Account/Login'">
        <img src="~/css/Sm_Login_Icon.png" alt = "Login"></a>
</div>
<div class="StockChart" style="margin-left: 100px; min-width: 1080px; max-width: 1080px; min-height: 500px;">
    <div class = "leftside">
        <form method="get">
            <label for="Companies" style="margin-left: 2px;">Select a company:</label>
            <select id="Companies" name="Companies">
                <option value="none">--Select--</option>
                <option value="aapl">Apple Inc.</option>
                <option value="dbx">Dropbox</option>
                <option value="googl">Alphabet Inc.</option>
                <option value="sne">Sony</option>
            </select><br/>

            <label for="radioid" style="margin-left: 2px;">Select a Time Frame:</label>
            <select id="radioid" name="radioid">
                <option value="0">--Select--</option>
                <option value="10">10 Days</option>
                <option value="30">30 Days</option>
                <option value="60">60 Days</option>
            </select><br/>

            <button type="submit" id="Submit" name="Submit" onclick="sendInfo()" style="margin-left: 2px; border-style: solid; background-color: white;">Submit</button>
        </form>

        <form method="post" id="chart">
            <div>@Html.Raw(Model.ChartJson)</div>
        </form>
    </div>
</div>



</body>

</html>