﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to IInvest</h1>
    <p> Invest in stocks, manage investments, and have a good time </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <button class="btn btn-outline-info m-1" type="button" onclick="location.href='../Account/Login'">Login</button>
</div>
