﻿@page "{id}"
@using Investor.Web.Data.Models
@model Investor.Web.Pages.Admin.Account.Edit

@{
    ViewData["Title"] = "User Edit";
}
<!-- Content Header (Page header) -->
<div class="content-header" xmlns="http://www.w3.org/1999/html">
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">User Profile (@Model.Profile.PreferredName)</div>
        <!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a asp-page="/Admin/Account/Index">Accounts</a></li>
                <li class="breadcrumb-item active">@Model.Profile.PreferredName</li>
            </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="content">
  <div class="row">
    <div class="col-md-6">
      <form asp-page-handler="General" asp-route-id="@Model.Account.ID" method="post">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">General Account Information</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label asp-for="Input.Email"></label>
              <input asp-for="Input.Email" class="form-control" />
              <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="Input.FirstName"></label>
              <input asp-for="Input.FirstName" class="form-control" />
              <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="Input.LastName"></label>
              <input asp-for="Input.LastName" class="form-control" />
              <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="Input.PreferredName"></label>
              <input asp-for="Input.PreferredName" class="form-control" />
              <span asp-validation-for="Input.PreferredName" class="text-danger"></span>
              <small id="perferredNameHelp" class="form-text text-muted">Optional</small>
            </div>
            <div class="form-group">
              <label asp-for="Input.Phone"></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-phone"></i></span>
                </div>
                <input asp-for="Input.Phone" type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" im-insert="true">
              </div>
              <small id="phoneHelp" class="form-text text-muted">Optional</small>
            </div>
            <div class="form-group">
              <label asp-for="Input.DateOfBirth"></label>
              <input asp-for="Input.DateOfBirth" class="form-control" />
              <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="Input.Status"></label>
              <select asp-for="Input.Status" class="form-control custom-select" asp-items="Html.GetEnumSelectList<AccountStatus>()">
                <option selected="selected" value="" disabled="disabled"> Select one</option>
              </select>
            </div>
            <div class="form-group">
              <label asp-for="Input.UserRole"></label>
              <select asp-for="Input.UserRole" class="form-control custom-select" asp-items="Html.GetEnumSelectList<UserRoles>()">
                <option selected="selected" value="" disabled="disabled">Select one</option>
              </select>
            </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-outline-primary">Save Changes</button>
          </div>
          </div>
        </div>
      </form>
      <!-- /.card -->
    </div>
  </div>
</div>