﻿@page
@model Investor.Web.Pages.Admin.Account.Index

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Accounts</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Accounts</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <table class="table table-borderless">
                    <tr>
                        <th>Account Id</th>
                        <th>EMail</th>
                        <th>Created At</th>
                        <th>Last Login At (UTC)</th>
                        <th>Last Modified At (UTC)</th>
                        <th>Actions</th>
                    </tr>
                    @foreach (var account in Model.Accounts) {
                        <tr>
                            <td id="AccountId">
                                <span>@account.ID</span>
                            </td>
                            <td id="EMail">
                                <span>@account.Email</span>
                            </td>
                            <td id="CreatedAt">
                                <span>@account.CreatedAt</span>
                            </td>
                            <td id="LastLoginAt">
                                <span>@account.LastLoginAt</span>
                            </td>
                            <td id="LastModifiedAt">
                                <span>@account.LastModifiedAt</span>
                            </td>
                            <td>
                                <div class="d-flex flex-row flex-wrap">
                                    <a class="btn btn-outline-info m-1" asp-page="Edit" asp-route-id="@account.ID">Edit</a>
                                    <a class="btn btn-outline-danger m-1" href="#">Disable</a>
                                </div>
                            </td>
                        </tr>
                    }
                </table> 
            </div>
        </div>
    </div>
</div>
  
<!-- /.main-content -->