﻿@page
@model Investor.Web.Pages.Admin.Account.Pending

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Pending Accounts</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-page="/Admin/Account/Index">Accounts</a></li>
                    <li class="breadcrumb-item active">Pending</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <table class="table table-borderless">
                    <tr>
                        <th>Account Id</th>
                        <th>Email</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                    @foreach (var account in Model.PendingAccounts) {
                        <tr>
                            <td class="AccountId">
                                <span>@account.ID</span>
                            </td>
                            <td class="EMail">
                                <span>@account.Email</span>
                            </td>
                            <td class="CreatedAt">
                                <span>@account.CreatedAt</span>
                            </td>
                            <td>
                                <div class="d-flex flex-row flex-wrap">
                                    <a class="btn btn-outline-success m-1" asp-page="Pending" asp-page-handler="UpdateStatus" asp-route-id="@account.ID" asp-route-approve="true">Approve</a>
                                    <a class="btn btn-outline-danger m-1" asp-page="Pending" asp-page-handler="UpdateStatus" asp-route-id="@account.ID" asp-route-approve="false">Reject</a>
                                </div>
                            </td>
                        </tr>
                    }
                </table> 
            </div>
        </div>
    </div>
</div>
  
<!-- /.main-content -->
