﻿@page
@model Investor.Web.Pages.Account.Logout

@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
    <button class="btn btn-outline-info m-1" type="button" onclick="location.href='../Account/Login'">Login</button>
</header>