﻿@page
@model Investor.Web.Pages.Account.Success

@{
    ViewData["Title"] = "Logged In";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged into the application.</p>
    <button class="btn btn-outline-info m-1" type="button" onclick="location.href='/Users/Homepage?Companies=none&radioid=0&Submit='">Return To Homepage</button>
</header>